.container {
    max-width: 405px;
    margin: 135px auto;
    background-color: aliceblue;
    border-radius: 7px;
}

body {
    background: url(../assets/images/bg.png) repeat;
}

.card {
    width: 20rem;
}

.card-title-row {
    margin-bottom: 0.5rem;
    ;
}

.card-date-row {
    margin-bottom: 0.2rem;
    ;
}

.card-btn-row {
    margin-bottom: 1rem;
    ;
}

.form-label {
    padding-top: 5%;
}

#selected-input-group {
    margin-bottom: 2rem;
}